<div class="container">
  <div class="row">
    <div *ngFor="let student of studentsList" class="col m4 s6">
      <!-- <div
      *ngFor="let student of studentsList"
      [ngClass]="
        student.position == POSITIONS.GOAL_KEEPER
          ? 'col m12 s12'
          : student.position == POSITIONS.DEFENDER
          ? 'col m3 s6'
          : student.position == POSITIONS.MIDFIELDER
          ? 'col m3 s6'
          : student.position == POSITIONS.FORWARD
          ? 'col m6 s6'
          : 'col m4 s6'
      "
    > -->
      <div
        (click)="goToStudent(student)"
        class="students-list card horizontal"
        studentBorderCard
      >
        <div class="card-image">
          <img [src]="student.picture" />
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>{{ student.name }}</p>
            <p>
              <small>{{ student.createdAt | date }}</small>
            </p>
            <span class="{{ student.position | studentTypeColor }}">
              {{ student.position }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
