<div *ngIf="player" class="row">
  <div class="col s12 m8 offset-m2">
    <h2 class="header center">{{ player.name }}</h2>
    <div class="card horizontal hoverable">
      <div class="card-image">
        <img [src]="player.picture" />
      </div>

      <div class="card-stacked">
        <div class="card-content">
          <table class="bordered striped">
            <tbody>
              <tr>
                <td>Nom</td>
                <td>{{ player.name }}</td>
              </tr>
              <tr>
                <td>Age</td>
                <td>{{ player.age }}</td>
              </tr>
              <tr>
                <td>Position</td>
                <td>{{ player.position }}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="card-action">
          <a (click)="goBack()">Go back</a>
          <a (click)="edit(player)">Edit</a>
        </div>
      </div>
    </div>
  </div>
</div>
<h4 *ngIf="!player">Aucun joueur à afficher</h4>
