/* You can add global styles to this file, and also import other style files */
html {
    background-color: rgb(70, 70, 70);
    color:rgb(201, 194, 194) !important;
}

.nav-wrapper {
    position: relative;
}

.card, .btn-flat  {
    top: 20px;
    position: relative;
    background-color: rgb(58, 58, 58);
    color:rgb(201, 194, 194);
}

.players-list.card, .card-action a {
    cursor: pointer;
}

table.striped>tbody>tr:nth-child(odd) {
    background-color: rgb(92, 92, 92);
}