/* You can add global styles to this file, and also import other style files */
html {
    background-color: rgb(70, 70, 70);
    color:rgb(201, 194, 194)
}

.card {
    background-color: rgb(58, 58, 58);
    color:rgb(201, 194, 194);
}